#logo-image {
    width:700px;
    max-width:100%;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.info_paragraph {
    width:700px;
    max-width:100%;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

#results_container {
    width:700px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

img#wordcloud_image {
    width:100%;
}

.navbar {
    margin-bottom: 0;
}

.form-group {
    width:700px;
    max-width:100%;
    margin-left:auto;
    margin-right:auto;
    display: block;
}

.vertical-center {
    height:100%;
    margin-top:auto;
    margin-bottom:auto;
}

/*
body {
    height:100%;
}
*/
/* Sticky footer styles
 * -------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}


/* Custom page CSS
 * -------------------------------------------------- */
/* Not required for template or sticky footer method. */
/*
.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}*/
