{% extends 'main.html' %}
{% block content %}

<div>
    <img id="logo-image" src="/static/img/logo.png">
</div>
<p class="info_paragraph">
PhenVar was developed and prototyped during the January 2017 NCBI hackathon to fill the need for keeping abreast of experimental studies identifying phenotypes associated with genomic variants. Following the  NCBI-assisted hackathon rules (Busby et al. 2016),  PhenVar is free, opensource and publically in the NCBI-Hackathon repository (https://github.com/NCBI-Hackathons/).
<br>
    The source code for PhenVar is available at <a href="https://github.com/NCBI-Hackathons/PhenVar">GitHub</a>.
</p>
{% endblock %}
