<script src="/static/js/d3.min.js"></script>
<!--<div style="width:80%;">-->
    <!--<button type="button" class="btn btn-primary" style="z-index:2;clear:none;"><i class="fa fa-arrows"></i></button>-->
    <svg id="svgContainer" xmlns:html="http://www.w3.org/1999/xhtml" style="float:left;clear:none;z-index:1;">
        <foreignObject position attributes>
            <html:button class="btn btn-default" style="z-index:2;" id="width-toggle"><html:i class="fa fa-arrows"></html:i></html:button>
        </foreignObject>
    </svg>
<!--</div>-->
<div style="width:20%;float:left;clear:right;">
    <div class="panel panel-default" style="float:left;clear:none;width:100%;height:150px;">
        <div class="panel-heading">Key</div>
        <div class="panel-body">
            <svg height="100px;">
                <circle cx="10" cy="10" r="10" class="node article" />
                <text x="25" y="15" fill="white">Article</text>
                <circle cx="10" cy="35" r="10" class="node rsid" />
                <text x="25" y="40" fill="white">RSID</text>
                <circle cx="10" cy="60" r="10" class="node rsid-requested" />
                <text x="25" y="65" fill="white">Requested RSID</text>
            </svg>
        </div>
    </div>
    <div class="panel panel-default" style="float:left;clear:none;width:100%;">
        <div class="panel-heading">
            Hover over a Node or for Information
        </div>
        <div id="info_paragraph" class="panel-body">

        </div>
    </div>
</div>
<script src="/static/js/graph.js"></script>
<script>
    var data = {{ graph_json | tojson | safe }};
    renderGraph(false, data);

    $(document).ready( function(){
        $('#width-toggle').click( function() {
            var smallWidth = window.innerWidth * 0.75
            var toggleWidth = $("#svgContainer").width() == smallWidth ? window.innerWidth : smallWidth;
            $('#svgContainer').animate({ width: toggleWidth });
        });
    });
</script>
