<script src="/static/js/d3.min.js"></script>
<svg style="float:left;clear:none;"></svg>
<div style="width:20%;float:left;clear:right;">
    <div class="panel panel-primary" style="float:left;clear:none;width:100%;height:150px;">
        <div class="panel-heading">Key</div>
        <div class="panel-body">
            <svg height="100px;">
                <circle cx="10" cy="10" r="10" stroke="#000" stroke-width="1.5px" fill="blue" />
                <text x="25" y="15" fill="white">Article</text>
                <circle cx="10" cy="35" r="10" stroke="#000" stroke-width="1.5px" fill="red" />
                <text x="25" y="40" fill="white">RSID</text>
            </svg>
        </div>
    </div>
    <div class="panel panel-info" style="float:left;clear:none;width:100%;">
        <div class="panel-heading">
            Hover over a Node or for Information
        </div>
        <div id="info_paragraph" class="panel-body">

        </div>
    </div>
</div>
<script src="/static/js/graph.js"></script>
<script>
    var data = {{ graph_json | tojson | safe }};
    renderGraph(false, data);
</script>
