{% extends 'main.html' %}
{% block content %}

<div class="vertical-center">
<div>
    <img id="logo-image" src="/static/img/logo.png">
</div>
<div class="form-group">
    <form id="rsid_search_form" method="GET" action="/results/">
        <label class="control-label">Input rsid numbers as integers seperated by spaces</label>
        <div class="input-group">
            <span class="input-group-addon">RSID(s):</span>
            <input type="text" id="rsidInput" class="form-control" name="rsids" placeholder="e.g. 328 326 3">
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Search</button>
            </span>
        </div>
        Visualization options:
        <div class="checkbox">
            <label>
                <input type="checkbox" name="visualization" value="png-wordcloud" checked> Generate a Wordcloud Image From Results
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="visualization" value="js-wordcloud"> Generate a Javascript Wordcloud from results
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="visualization" value="js-graph"> Generate a graph of publications (may be slow for heavily-cited rsids)
            </label>
        </div>

        Normalization Type:
        <div class="radio">
          <label>
            <input type="radio" name="normalization_type" value="default" checked="">
            None
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="normalization_type" value="rsid">
            Balance by RSID
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="normalization_type" value="article">
            Weight by Number of Articles
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="normalization_type" value="article_count">
            Weight Exclusively by Number of Articles
          </label>
        </div>

        <!-- Form below will eventually be integrated into main site -->
        <!--
        Base weight of nouns on the following parameters:
        <div class="checkbox">
          <label>
            <input type="checkbox" name="weight" value="word_count" checked> Word Count - Total number of times a noun appears in associated article abstracts.
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="weight" value="article_count"> Article Count - Total number of articles a noun appears in.
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="weight" value="rsid_count"> RSID's - Number of requested RSID's associated with an article containing the word.
          </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="weight" value="rsid_balance"> Normalize by RSID - Divide the weight a word receives from a set of articles associated with each RSID by the total number of articles associated with that RSID.
            </label>
        </div>
        -->
    </form>
</div>
<div class="info_paragraph">
    {% filter markdown %}
        {{ home_markdown }}
    {% endfilter %}
</div>
</div>


<script>
    function predictiveResults(input, data) {
        var predictionArray = [];
        var inputSplit = input.split(" ")
        var inputNumber = inputSplit.slice(-1)[0].replace('rs', '');
        if (inputNumber == "") {
            return [];
        }
        for (var i = 0; i < data.length; i++) {
            if (predictionArray.length > 5) {
                break;
            }
            var rsid = data[i];
            if (rsid.startsWith(inputNumber)) {
                var suggestion = ""
                for (var j = 0; j < inputSplit.length; j++) {
                    if (j == inputSplit.length - 1) {
                        suggestion += inputSplit[j].replace(inputNumber, rsid)
                    }
                    else {
                        suggestion += inputSplit[j] + " "
                    }
                }
                predictionArray.push(suggestion);
            }
        }
        return predictionArray;
    };

    var rsidList
    $.getJSON('/static/data/rsid_list.json', function(data) {
        rsidList = data;
    });

    $('#rsidInput').autocomplete({
        source: function(request, response) {
            response(predictiveResults(request.term, rsidList));
        }
    });
</script>
{% endblock %}
